<!-- Views/Home/Index.cshtml -->
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Sample Web Application!</h1>
    <p>This is a simple ASP.NET Core MVC web application.</p>
</div>
